{% extends 'Main_Templates/base.html' %}
{% load static %}
{% block add_css %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables-responsive/css/responsive.bootstrap4.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/datatables-buttons/css/buttons.bootstrap4.min.css" %}">

    <link rel="stylesheet" href="{% static "plugins/select2/css/select2.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" %}">

{% endblock add_css %}

{% block header %}

{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item "><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item "><a href="{% url 'projections' %}">Projections</a></li>
    <li class="breadcrumb-item ">Reservation Form</li>
{% endblock breadcrumb %}

{% block main_content %}

    <!-- /.card-header -->

    <section class="content">
        <form action="." method="post" id="my_post">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-7">

                        {% csrf_token %}
                        <div class="card" style="display: compact">
                            <div class="card-header"><h3><strong>Reserve ticket</strong></h3></div>
                            <div class="card-body">


                                <label for="user_email">User's email</label>
                                <div class="form-group">
                                    <div class="input-group mb-3" id="this">
                                        <input type="email" min="0" minlength="5"
                                               class="form-control"
                                               id="user_email"
                                               name="email"
                                               placeholder="Enter your email here">
                                        <div class="input-group-append">
                                            <div class="input-group-text" id="username">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="credit_card_input">Credit card number:</label>
                                    <div class="input-group mb-3" id="this">
                                        <input type="number" name="credit_card" min="0" maxlength="8"
                                               class="form-control"
                                               id="credit_card_input"
                                               placeholder="Enter your credit card number"
                                               oninput="credit_valid(this);"
                                               autofocus="true">
                                        <div class="input-group-append">
                                            <div class="input-group-text" id="username">
                                                <span class="fas fa-credit-card"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox1"
                                           value="option1" name="partner">
                                    <label for="customCheckbox1" class="custom-control-label"
                                    >Check this to pay with
                                        partner points</label>
                                </div>
                                <div class="row">
                                    <label>
                                        <select class="form-control select2"
                                                multiple="multiple"
                                                name="discount[]"
                                                data-placeholder="Select the element/s to see resistant armor sets to it/them"
                                                data-dropdown-css-class="select2-blue"
                                                style="width: 80%;"></select>
                                    </label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox2"
                                           value="option1">
                                    <label for="customCheckbox2" class="custom-control-label">Apply
                                        discount 1</label>
                                </div>

                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox"
                                           id="customCheckbox3"
                                           value="option1">
                                    <label for="customCheckbox3" class="custom-control-label">Apply
                                        discount 2</label>
                                </div>

                                <hr/>
                                <!-- card-secondary -->
                                <div class="card card-secondary">
                                    <div class="card-header">
                                        <h3 class="card-title">Select the seats that you like to
                                            reserve</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1"
                                               class="table table-bordered table-striped">
                                            <thead>
                                            {% block columns %}
                                                <th scope="col" style="width: 5%">Check</th>
                                                <th scope="col">Id</th>
                                                <th scope="col">Number</th>
                                            {% endblock %}
                                            </thead>
                                            <tbody>
                                            {% block rows %}
                                                {% for seat in seats %}
                                                    <tr>
                                                        <td>
                                                            <label>
                                                                <input type="checkbox"
                                                                       name="reserved[]"
                                                                       onclick="test(this)">
                                                            </label>
                                                        </td>
                                                        <td>{{ seat.id }}</td>
                                                        <td>{{ seat.number }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endblock %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body-secondary -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.primary card-->
                    </div>
                    <!-- /.col -->
                    <div class="col-lg-5">
                        <div class="card card-default">
                            <div class="card-header">
                                <h3><strong><i class="fa fa-shopping-cart"></i>Sale Details</strong>
                                </h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">

                                {% csrf_token %}
                                <label for="cost">Total to pay:</label>
                                <div class="input-group mb-3">
                                    <input type="number" name="total_cost" class="form-control"
                                           id="cost"
                                           value="0.00" readonly="true">
                                    <div class="input-group-append">
                                        <div class="input-group-text" id="username">
                                            <span class="fas fa-dollar-sign"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- /.col -->
                                    <div class="col-lg-12">
                                    <span class="text-red" id="text"
                                          hidden="true">You must reserve at least one seat</span>
                                        <button type="submit"
                                                class="btn btn-outline-success btn-block"
                                                id="button"
                                                disabled>
                                            <i class="fas fa-dollar"></i>Make purchase
                                        </button>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </form>
    </section>
    <!-- /.content -->
{% endblock main_content %}


{% block add_js %}
    <!-- DataTables  & Plugins -->
    <script src="{% static "plugins/DataTables-1.10.24/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "plugins/DataTables-1.10.24/js/dataTables.bootstrap4.js" %}"></script>
    <script src="{% static "lib/sweetalert2-9.10.0/sweetalert2.all.js" %}"></script>
    <script src="{% static "plugins/jquery-validation/jquery.validate.min.js" %}"></script>
    <script src="{% static "plugins/jquery-validation/additional-methods.js" %}"></script>


    <!-- Select2 -->
    <script src="{% static "plugins/select2/js/select2.full.min.js" %}"></script>
    <!-- dropzonejs -->
    <script src="{% static "plugins/dropzone/min/dropzone.min.js" %}"></script>
    <!-- InputMask -->
    <script src="{% static "plugins/moment/moment.min.js" %}"></script>
    <script src="{% static "plugins/inputmask/jquery.inputmask.min.js" %}"></script>

    <script type="application/javascript">

        $(function () {
            $('#example1').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        {% if not user.is_authenticated %}
            $(function () {
                let x = document.getElementById('customCheckbox1')
                x.disabled = true
                x.checked = false
            })
        {% endif%}

    </script>


    <script>
        function toast(text) {
            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            Toast.fire({
                icon: 'error',
                title: text
            })
        }
    </script>

    <script type="text/javascript">
        var cost = 0

        $(document).onreadystatechange = function () {
            set_cost();
            let total_cost = document.getElementsByName('cost')
            let x = 0
            rowcollection = get_checkbx_datatable()
            rowcollection.each(function (index, element) {
                x = parseFloat(total_cost);
                if (element.checked) total_cost = x += cost;
            });
        }


        function get_checkbx_datatable() {
            let myTable = $('#example1').dataTable();
            return myTable.$(".my-checkbox", {"page": "all"});
        }

        var counter = 0;

        function test(widget) {
            let x = document.getElementById('cost');
            let result = parseFloat(x.value)
            if (widget.checked === true) {
                result += cost;
                counter++;
            } else {
                result -= cost;
                counter--;
            }
            if ((document.getElementById('customCheckbox1').checked) && result > {{user.partner_points}}) {
                toast("You don't have enough partner points to make this operation")
                widget.checked = false
                counter--;
            } else {
                x.value = result.toFixed(2);
            }
            document.getElementById('button').disabled = counter <= 0;
        }


        $('#customCheckbox1').click(function () {
            let check_box = document.getElementById('customCheckbox1');
            {% if not user.is_authenticated %}
                check_box.checked = false;
                check_box.disable = true;
            {% endif %}
            let x = document.getElementById('credit_card_input')
            x.disabled = check_box.checked;
            x.value = '';

            let rowcollection = get_checkbx_datatable()
            rowcollection.each(function (index, element) {
                element.checked = false;
                reset();
            });
        });

        function reset() {
            document.getElementById('cost').value = "0.00"
            let rowcollection = get_checkbx_datatable()
            rowcollection.each(function (index, element) {
                element.checked = false;
            });
            document.getElementById('credit_card_input').readOnly = document.getElementById('customCheckbox1').checked;
        }

        $(function () {
            let x = document.getElementById('customCheckbox1');
            if (x.checked) {
                reset();
            } else {
                let rowcollection = get_checkbx_datatable();
                rowcollection.each(function (index, element) {
                    let x = document.getElementById('cost');
                    let result = parseFloat(x.value)
                    if (element.checked && $('#customCheckbox1').checked) {
                        result += proj;
                        x.value = result;
                    } else {
                        result += proj
                        x.value = result;
                    }
                })
            }
        })

        function set_cost() {
            let x = document.getElementById('customCheckbox1');
            x.checked ? cost ={{ projection.partner_points_cost }} : cost =
            {{ projection.monetary_cost }}
        }


        $('#button').click(function () {
            let a = document.getElementById('result');
            if (a != null) {
                fill_resuts(a);
                return;
            }
            let new_input = document.createElement('input')
            new_input.id = "result";
            new_input.type = 'text';
            new_input.className = 'form-control';
            new_input.disabled = true;
            new_input.hidden = false;
            new_input.name = 'result';
            let form = document.getElementById('my_post');
            form.appendChild(new_input);
        })

        $('#customCheckbox1').click(function () {
            let x = $('#credit_card_input')
            let value = x.value
            x.disabled = !x.disabled
            x.value = value

            rowcollection = get_checkbx_datatable()
            rowcollection.each(function (index, element) {
                element.checked = false;
                reset();
            });

            function reset() {
                document.getElementById('button').disabled = true;
                counter = 0;
                document.getElementById('cost').value = "0.00";
            }

            x.value = value
            let result_input = document.getElementById('result');
            fill_resuts(result_input);
        });
        var aux_value = ''

        function fill_resuts(widget) {
            let rowcollection = get_checkbx_datatable()
            widget.value = " ";
            rowcollection.each(function (index, element) {
                if (element.checked) {
                    widget.value === '' ? widget.value += element.value : widget.value += "," + element.value;
                }
            });
        }

        function credit_valid(widget) {
            if (!(widget.validity.valid)) {
                widget.value = aux_value;
            }
            if (widget.maxLength < widget.value.length) {
                widget.value = aux_value;
            }
            aux_value = widget.value;
        }

        $(function () {
            $('#my_post').validate({
                rules: {
                    email: {
                        required: true,
                        minlength: 5
                    },
                    credit_card: {
                        minlength: 8
                    },
                },
                messages: {
                    email: {
                        required: "Please enter an email adress",
                        email: "Please enter a valid email address"
                    },
                    credit_card: {
                        minlength: "A credit card number is required"
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            })
        })

        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2();

            //Initialize Select2 Elements
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        })
    </script>




{% endblock add_js %}
